body {
    background-image: url('../images/crystalbackground.jpg');
    width: 100%;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}
.crystal-image {
    height: 125px;
}
h1 {
    color:white;
}
p {
    color: white;
}
.col-lg-3{
opacity: .4;

}