body {
    background-image: url('../images/crystalbackground.jpg');
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
}
.crystal-image {
    height: auto;
    width: 23%;
}
h1 {
    color:white;
}
ul {
    color: white;
    border-bottom: solid;
}
.col-lg-4{
opacity: .7;

}